// General
$body-size: 16px;

// Colors
$black: #000000;
$white: #ffffff;

// Typography
$family-primary: "Arial", "Helvetica", sans-serif;

// Sizes
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

// Title
$title-family: $family-primary;
$title-color: inherit;
$subtitle-color: inherit;
